<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
		<!-- default header name is X-CSRF-TOKEN -->
		<!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
		<title>登录</title>
		<link rel="shortcut icon" href="/img/logo/falo.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="login-page">
			<div class="login-header">
				<a href="index.html" onfocus="this.blur();">IT技术社区</a>
				<a href="index.html" onfocus="this.blur();" style="float: right;">主页</a>
			</div>
			<div class="login-body">
				<div class="login-body-left">
					<a href="#" onfocus="this.blur();">
						<h2>云与企业深度融合，创造数字化未来</h2>
					</a>
					<a href="#" onfocus="this.blur();">
						<p>
							完整的云计算基础体系<br>
							多种行业定制解决方案<br>
							智能云安全防护架构<br>
							高效的大数据分析和处理能力<br>
							人工智能向全局智能持续演进
						</p>
					</a>
					
				</div>
				<div class="login-box">
					<h3>登录</h3>
					<form class="form-horizontal" action="/user/login" method="post">
			        		<input type="text" name="username" placeholder="输入用户名" class="form-control" th:value="${username}">
			        		<input type="password" name="password" placeholder="输入密码" class="form-control" th:value="${pwd}">
			        		<!--<input name="remember-me" type="checkbox" class="remember-me">-->
			        		<!--<span>记住我</span>-->
			        		<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
			        		<input type="submit" class="submit-input" name="" id="" value="登录" />
							<label th:if="${username ne null}">注册成功！</label>
							<label th:if="${param.error}" style="color: red;font-weight: 400;">用户名或密码错误,请重新输入!</label>
			        </form>
			        <div class="login-box-footer">
			        		<a href="/forgetPwdPage" target="_blank" onfocus="this.blur();">忘记密码</a>
			        		<a href="/register" onfocus="this.blur();">免费注册</a>
			        </div>
				</div>
			</div>
			<div class="login-footer">
				<div class="login-connect">
					<a href="#" onfocus="this.blur();">联系作者</a>
					<a href="#" onfocus="this.blur();">加入我们</a>
				</div>
			</div>
		</div>
	</body>
</html>
