<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="shortcut icon" href="/img/logo/falo.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="register-page">
			<div class="login-header">
				<a href="index.html" onfocus="this.blur();">IT技术社区</a>
				<a href="index.html" onfocus="this.blur();" style="float: right;">主页</a>
			</div>
			<div class="register-page">
				<div class="container">
					<div class="register-box">
						<h2>欢迎注册</h2>
						<label th:if="${error ne null}" th:text="${error}" style="color: red"></label>
						<form class="form-horizontal" role="form" action="/register" method="post" onsubmit="return judgeNull(['username', 'pwd', 'pwd1', 'phone']) && judgeEqual('pwd', 'pwd1', '两次密码不一致') && judgeLength(['username', 'pwd'], [6,6], [20,20], ['用户名长度不符','密码长度不符'])">
				        		<input type="text" th:value="${username}" placeholder="输入用户名 6~20位" name="username" id="username" class="form-control">
				        		<input type="password" th:value="${pwd}" placeholder="输入密码 6~20位" name="pwd" id="pwd" class="form-control">
				        		<input type="password" th:value="${pwd}" placeholder="再次输入密码 6~20位" name="pwd1" id="pwd1" class="form-control">
				        		<div class="send-sms">
				        			<input type="text" th:value="${phone}" placeholder="请输入手机号" name="phone" id="phone" class="form-control phone-input">
				        			<input type="button" id="btn" class="sms-btn" value="免费获取验证码" onclick="settime(this, 'phone')" />
				        		</div>
				        		<input type="text" th:value="${smsCode}" placeholder="请输入验证码" name="smsCode" id="smsCode" class="form-control">
	                        <select class="form-control" name="industry" id="industry" placeholder="请选择您从事的行业" th:value="industryId">
	                            <!--<option>所属分类</option>-->
								<option th:each="list:${industry}" th:selected="${industryId eq list.id}" th:value="${list.id}" th:text="${list.name}"></option>
	                        </select>
				        		<input type="submit" class="submit-input" name="" id="" value="注册" />
			            </form>
					</div>
				</div>
			</div>
		</div>
		
		<script src="/js/callUrl.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/m-user.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
		</script>
	</body>
</html>
